.logos {

   
    &__slick {
        max-width: 1330px;
        margin: 0 auto;
    }
   
    .slick-track {
        display: flex;
        align-items: center;
    }
    
    .slick-slide {
        display: flex;
        height: auto;
        align-items: center;
        justify-content: center;
    }
}