#cta,
.cta {
  margin-top: 30px;
  @include lg-min {
    margin-top: 30px;
  }
  h3 {
    font-size: 34px;
    font-weight: 300;

    span {
      font-weight: 700;
    }
  }

  &--schedule-btn,
  &--call-btn {
    width: 295px;
    height: 66px;
    font-weight: 700;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 5px 0px 5px;
    font-size: 18px;

    &:hover {
      text-decoration: none;
    }
  }

  &--schedule-btn {
    background-color: var(--lightblue);
    color: #fff;
    border: 1px solid var(--lightblue);

    &:hover {
      color: var(--darkblue);
      border: 1px solid var(--main);
      background-color: #fff;
    }
  }

  &--call-btn {
    background-color: #fff;
    color: var(--darkblue);
    border: 1px solid var(--main);

    span {
      color: var(--main);
      transition: all 0.3s;
    }

    &:hover {
      background-color: var(--lightblue);
      color: #fff;
      border: 1px solid var(--lightblue);

      span {
        color: #fff;
      }
    }
  }
}
