#cta,
.cta {
  margin-top: 30px;
  @include lg-min {
    margin-top: 60px;
  }
  h3 {
    font-size: clamp(1.563rem, 0.833vw + 1.375rem, 2.125rem);
    line-height: clamp(2.5rem, 0.389vw + 2.413rem, 2.763rem);
    font-weight: 300;
   

    span {
      font-weight: 700;
    }
  }

  &--schedule-btn,
  &--call-btn {
    width: 295px;
    height: 66px;
    font-weight: 700;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 5px 0px 5px;

    font-size: clamp(1rem, 0.185vw + 0.958rem, 1.125rem);
    line-height: clamp(1.463rem, -0.204vw + 1.646rem, 1.6rem);

    &:hover {
      text-decoration: none;
    }
  }

  &--schedule-btn {
    background-color: var(--lightblue);
    color: #fff;
    border: 1px solid var(--lightblue);

    &:hover {
      color: var(--darkblue);
      border: 1px solid var(--main);
      background-color: #fff;
    }
  }

  &--call-btn {
    background-color: #fff;
    color: var(--darkblue);
    border: 1px solid var(--main);

    span {
      color: var(--main);
      transition: all .3s;
    }

    &:hover {
      background-color: var(--lightblue);
      color: #fff;
      border: 1px solid var(--lightblue);

      span {
        color: #fff;
      }
    }
  }
}
