/* REVIEWS */

#reviews {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100vw;
    overflow: hidden;
    
    .reviews__heading {
        color: #fff;
        padding-bottom: 40px;

        h2, h3 {
            margin: 0;
            padding: 0;
        }

        h3 {
            color: #fff;
           
            text-transform: uppercase;
            font-weight: 400;
            font-size: clamp(0.813rem, 0.463vw + 0.708rem, 1.125rem);
            line-height: clamp(1.056rem, 0.602vw + 0.921rem, 1.463rem);
        }

        h2 {
            font-size: clamp(1.625rem, 2.315vw + 1.104rem, 3.188rem);
            line-height: clamp(2.113rem, 3.009vw + 1.435rem, 4.144rem);
            font-weight: 700;
        }

    }


    .opinion {
       

        h3 {
            font-size: 35px;
            color: var(--darkblue2);
            font-weight: 700;
            padding-top: 0;
            max-width: 480px;
        }

        p {
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            color: #3a4054 !important; 
        }

        .long-heading {
            font-size: 29px;
            
        }
     
    }

    .divider {
        margin: 75px 0px 30px 0px;
    }

    .slick-dots .slick-active button {
        border-color:#fff;
    }
    .slick-dots .slick-active::after {
        background-color: #fff;
    }
    .slick-dots li button {
        border: 1px solid #fff;
    }
    .slick-prev {
        &::before {
            content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAXBAMAAAAiiNiyAAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAB5QTFRFAAAA////////////////////////////////////JHyblQAAAAp0Uk5TABBA0P/wIDBgoMa84sEAAAA+SURBVHicY2AAAkYlARDFIOyiAOaaQGhhF9cECDccyi0gyGWAchmgXAYXlwYwPcXFA0xzkiVQABVQgAooAADo8RS9jNfCsgAAAABJRU5ErkJggg==');
        }
        @include md {
            left: -25px
        }
    }

    .slick-next {
        &::before {
            content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAXBAMAAAAiiNiyAAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAABtQTFRF////////////AAAA////////////////////g7LP5wAAAAl0Uk5TEEAgAP/wMGDQssOvaQAAAGRJREFUeJwljrEJgFAMBSNuIK5g/+GDthYRLC3EWlA3cABH912S5riDhFjTVU2xfrmSfgQHJxQbd0Kx+hDECGIESICEEypsUGEOvsnJ/bPQ1SyVPWkrotxFxVDxRuOvL/9Da/kBr38mOjehq4wAAAAASUVORK5CYII=');
        }
        @include md {
            right: -25px
        }
    }

}

#reviews .reviews {
    margin-top: 60px;
   
}

#reviews .slick-track {
    display: flex !important;
}

#reviews .review {
    height: inherit !important;
    padding-left: 15px;
    padding-right: 15px;

    &__quote-icon {
        position: absolute;
        top:0;
        right:43px;
        width: 69px;

        @include xl-min {
            width: 111px;
            right:47px;
        }
    }

    &__footer {
        display: flex; 
        align-items: center;
        justify-content: space-between;
    }

    &__person {
        display: flex;
        align-items:center;
        gap: 15px;

        @include xs{
            min-width: 60%;
            
        }

        p {
            margin: 0;
            padding: 0;
        }

        &--avatar {
            width: 64px;
            height: 64px;
            border-radius: 100%;
            background-size: cover;
            background-repeat: no-repeat;
        }

        &--name {
            color: var(--darkblue2);
            font-weight: 400;
            font-size: clamp(0.813rem, 0.463vw + 0.708rem, 1.125rem);
            line-height: clamp(1.056rem, 0.602vw + 0.921rem, 1.463rem);
        }

        &--source {
           
            color: var(--darkblue2);
            text-transform: uppercase;
            position: relative;
           
            font-size: clamp(0.625rem, 0.185vw + 0.583rem, 0.75rem);
            line-height: clamp(0.813rem, 0.241vw + 0.758rem, 0.975rem);
        }
    }
   
   
}
#reviews .review .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 70px 60px 50px 65px;
    background-color: #f9f9f9;
    border-radius: 6px;
    position: relative;
}

#reviews .review .content .opinion {
    flex: 1;
}
#reviews .review .content .opinion p {
    position: relative;
    color: #282828;
    font-size: 19px;
    font-weight: 400;
    line-height: 31px;
    padding: 0;
    margin: 0;
}

#reviews .review .content .overview p {
    position: relative;
    color: #282828;
    font-size: 18px;
    font-weight: 300;
    line-height: 100%;
    letter-spacing: -0.18px;
    padding: 0;
    margin: 0;
}
#reviews .review .content .overview p strong {
    font-weight: 600;
}
